**`Team : Black_Dragon `**

**College: KLE Technological University, Hubli, Karnataka**

**Members:**


1.  Girish P Mallya
2.  Akshay Bhat
3.  Bharat Pippal



---


## **Contents: **

**This is part - 1 of the proposed solution**



1.   Introduction
2.   Problem Statement
3.   Imports   
4.   Data pre-processing
5. Geocoding

# **YES BANK Datathon - Campus Editions | West Zone**

**Introduction**

### ***YES BANK is India’s fourth largest private sector bank - with a customer base of over 2 Mn and 1100 branches in India, its customer base span across lengths and breadths of the country. At the time of customer on-boarding and throughout their customer life cycle , YES BANK captures various details of the customers , including customer demography, permanent address and current address details.***`

**Problem Statement :** Your challenge is to create a data model/algorithm/code which would help YES BANK in creating a customer heat map across geographical areas (cities/towns etc) including :

Unique labeling of cities

Uniquely label households/offices

Use lat/long to create a customer map of cities

### Importing Necessary Packages

In [2]:
from google.colab import files
import io
import pandas as pd 
uploaded = files.upload()

Saving Datathon Campus Edition - Dataset cut.xlsx to Datathon Campus Edition - Dataset cut.xlsx

*   **This solution was delivered on Google Colab platform   
    *`google.colab`*   is required to  read the files to the cloud.**
*   **The  *` io `* module provides Python's main facilities for dealing with various types of I/O.**


*   ***`pandas `* is a software library written for the Python programming language for data manipulation and analysis**

In [0]:
data = io.BytesIO(uploaded['Datathon Campus Edition - Dataset cut.xlsx'])

**As of now this is how the data looks**

In [4]:
df = pd.read_excel(io.BytesIO(uploaded['Datathon Campus Edition - Dataset cut.xlsx'])  , sheet_name = 'Sheet1')
#df.sheet_names
df.head()

  Data format : cust_id_token|current_address3|current_city|current_state|current_pin_code|permanent_address3|permanent_city|permanent_state|permanent_pin_code
0  1||JAMBI|INDONESIA|36126||CHENNAI|TAMIL NADU|6...
1  2|INJAMBAKKAM|CHENNAI|TAMIL NADU|600115||LONDO...
2  3|ROODEPOORT|JOHANNESBURG|GAUTENG|2169|MANDIR ...
3        4||DUBAI|DUBAI|18582||BARODA|GUJARAT|390007
4      5||SIRSA|HARYANA|125055||SIRSA|HARYANA|125055

### Below section deals with pre processing the data to make it ready for further actions

In [0]:
df.T.head(1)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
Data format : cust_id_token|current_address3|current_city|current_state|current_pin_code|permanent_address3|permanent_city|permanent_state|permanent_pin_code,1||JAMBI|INDONESIA|36126||CHENNAI|TAMIL NADU|6...,2|INJAMBAKKAM|CHENNAI|TAMIL NADU|600115||LONDO...,3|ROODEPOORT|JOHANNESBURG|GAUTENG|2169|MANDIR ...,4||DUBAI|DUBAI|18582||BARODA|GUJARAT|390007,5||SIRSA|HARYANA|125055||SIRSA|HARYANA|125055,6|TARDEO CIRCLE PT|MUMBAI|MAHARASHTRA|400034|T...,7|PRADESH|ITANAGAR|ARUNACHAL PRADESH|791111|PO...,8||LUCKNOW|UTTAR PRADESH|226003||SAUDI ARABIA|...,9||NORTH PARRAMATTA|NEW SOUTH WALES|2151||GHAZ...,10|NEAR CENTURY MALL|FUJAIRAH|FUJAIRA EMIRATES...,...,91||DASUYA|PUNJAB|144214||DOHA QATAR|DOHA QATA...,92||UDHAMPUR|JAMMU AND KASHMIR|905171||UDHAMPU...,93||CALIFORNIA|CALIFORNIA|94040||CALIFORNIA|CA...,94||ARLINGTON|VIRGINIA|22204||NEW DELHI|DELHI|...,95||AJNALA|PUNJAB|143102||AJNALA|PUNJAB|143102,96||AL KHOBAR|SAUDI ARABIA|31952||MUZAFFAR NAG...,97||KATRA|JAMMU AND KASHMIR|182301||PANTGAON|U...,98|ROAD KESHWANA JAIPUR|BEHROR|RAJASTHAN|30170...,99||AL KHARJ|RIYADH|11942||NEW DELHI|NEW DELHI...,100||JALANDHAR|PUNJAB|144629||SHARJAH|SHARJAH|...

**The Below is a function which splits the data using '|' as a seperator ( as given in the data )**

In [0]:
df2 = df.iloc[:, 0].str.split('|', expand=True)
df2.columns = [n.replace('"', '') for n in df.columns.str.split('|')[0]]

**Now we have the data in a columnar format, which is most suited for analytical processing**

In [6]:
df2.head(20)

,Data format : cust_id_token,current_address3,current_city,current_state,current_pin_code,permanent_address3,permanent_city,permanent_state,permanent_pin_code
0,1,,JAMBI,INDONESIA,36126,,CHENNAI,TAMIL NADU,600029
1,2,INJAMBAKKAM,CHENNAI,TAMIL NADU,600115,,LONDON,MIDDLE SEX,HA047H
2,3,ROODEPOORT,JOHANNESBURG,GAUTENG,2169,MANDIR RMC GARDEN,PUNE,MAHARASHTRA,412207
3,4,,DUBAI,DUBAI,18582,,BARODA,GUJARAT,390007
4,5,,SIRSA,HARYANA,125055,,SIRSA,HARYANA,125055
5,6,TARDEO CIRCLE PT,MUMBAI,MAHARASHTRA,400034,TARDEO CIRCLE PT,MUMBAI,MAHARASHTRA,400034
6,7,PRADESH,ITANAGAR,ARUNACHAL PRADESH,791111,PO PALIN,ITANAGAR,ARUNACHAL PRADESH,791118
7,8,,LUCKNOW,UTTAR PRADESH,226003,,SAUDI ARABIA,SAUDI ARABIA,11933
8,9,,NORTH PARRAMATTA,NEW SOUTH WALES,2151,,GHAZIABAD,UTTAR PRADESH,201013
9,10,NEAR CENTURY MALL,FUJAIRAH,FUJAIRA EMIRATES,50037,,KOLKATA,WEST BENGAL,700054
10,11,NEAR BRIDGE STONE COMPANY,PUNE,MAHARASHTRA,410501,,SONBHADRA,UTTAR PRADESH,231210
11,12,,AMBERNATH,MAHARASHTRA,421501,,AMBERNATH,MAHARASHTRA,421501
12,13,,GURGAON,HARYANA,122002,NEAR GOVT SCHOOL,DAUSA,RAJASTHAN,322240
13,14,BANDRA E NR COLGATE GROUND,MUMBAI,MAHARASHTRA,400051,BANDRA E NR COLGATE GROUND,MUMBAI,MAHARASHTRA,400051
14,15,,BEIJING,BEIJING,0,NEAR GCC CLUB MIRA ROAD EAST,THANE,MAHARASHTRA,401107
15,16,,LUDHIANA,PUNJAB,141003,,DUBAI,DUBAI,
16,17,PHASE 3 KALIKA VIHAR CHIRACHAS,BOKARO,JHARKHAND,827013,PHASE 3 KALIKA VIHAR CHIRACHAS,BOKARO,JHARKHAND,827013
17,18,DISTRICT PAPUMPARE,ITANAGAR,ARUNACHAL PRADESH,100274,DISTRICT PAPUMPARE,ITANAGAR,ARUNACHAL PRADESH,100274
18,19,NEAR MOTHER TERESA OLD HOME,TINSUKIA,ASSAM,786126,NEAR MOTHER TERESA OLD HOME,TINSUKIA,ASSAM,786126
19,20,,EPPING,VICTORIA,3076,,PUNE,MAHARASHTRA,412207

**Removing the duplicate index column in the data**

In [0]:
df2=df2.set_index('Data format : cust_id_token')

In [8]:
df2.head()

,current_address3,current_city,current_state,current_pin_code,permanent_address3,permanent_city,permanent_state,permanent_pin_code
Data format : cust_id_token,,,,,,,,
1,,JAMBI,INDONESIA,36126,,CHENNAI,TAMIL NADU,600029
2,INJAMBAKKAM,CHENNAI,TAMIL NADU,600115,,LONDON,MIDDLE SEX,HA047H
3,ROODEPOORT,JOHANNESBURG,GAUTENG,2169,MANDIR RMC GARDEN,PUNE,MAHARASHTRA,412207
4,,DUBAI,DUBAI,18582,,BARODA,GUJARAT,390007
5,,SIRSA,HARYANA,125055,,SIRSA,HARYANA,125055

In [9]:
df2.rename(columns={'Data format : cust_id_token': 'cust_id_token'})

,current_address3,current_city,current_state,current_pin_code,permanent_address3,permanent_city,permanent_state,permanent_pin_code
Data format : cust_id_token,,,,,,,,
1,,JAMBI,INDONESIA,36126,,CHENNAI,TAMIL NADU,600029
2,INJAMBAKKAM,CHENNAI,TAMIL NADU,600115,,LONDON,MIDDLE SEX,HA047H
3,ROODEPOORT,JOHANNESBURG,GAUTENG,2169,MANDIR RMC GARDEN,PUNE,MAHARASHTRA,412207
4,,DUBAI,DUBAI,18582,,BARODA,GUJARAT,390007
5,,SIRSA,HARYANA,125055,,SIRSA,HARYANA,125055
6,TARDEO CIRCLE PT,MUMBAI,MAHARASHTRA,400034,TARDEO CIRCLE PT,MUMBAI,MAHARASHTRA,400034
7,PRADESH,ITANAGAR,ARUNACHAL PRADESH,791111,PO PALIN,ITANAGAR,ARUNACHAL PRADESH,791118
8,,LUCKNOW,UTTAR PRADESH,226003,,SAUDI ARABIA,SAUDI ARABIA,11933
9,,NORTH PARRAMATTA,NEW SOUTH WALES,2151,,GHAZIABAD,UTTAR PRADESH,201013
10,NEAR CENTURY MALL,FUJAIRAH,FUJAIRA EMIRATES,50037,,KOLKATA,WEST BENGAL,700054
11,NEAR BRIDGE STONE COMPANY,PUNE,MAHARASHTRA,410501,,SONBHADRA,UTTAR PRADESH,231210
12,,AMBERNATH,MAHARASHTRA,421501,,AMBERNATH,MAHARASHTRA,421501
13,,GURGAON,HARYANA,122002,NEAR GOVT SCHOOL,DAUSA,RAJASTHAN,322240
14,BANDRA E NR COLGATE GROUND,MUMBAI,MAHARASHTRA,400051,BANDRA E NR COLGATE GROUND,MUMBAI,MAHARASHTRA,400051
15,,BEIJING,BEIJING,0,NEAR GCC CLUB MIRA ROAD EAST,THANE,MAHARASHTRA,401107
16,,LUDHIANA,PUNJAB,141003,,DUBAI,DUBAI,
17,PHASE 3 KALIKA VIHAR CHIRACHAS,BOKARO,JHARKHAND,827013,PHASE 3 KALIKA VIHAR CHIRACHAS,BOKARO,JHARKHAND,827013
18,DISTRICT PAPUMPARE,ITANAGAR,ARUNACHAL PRADESH,100274,DISTRICT PAPUMPARE,ITANAGAR,ARUNACHAL PRADESH,100274
19,NEAR MOTHER TERESA OLD HOME,TINSUKIA,ASSAM,786126,NEAR MOTHER TERESA OLD HOME,TINSUKIA,ASSAM,786126
20,,EPPING,VICTORIA,3076,,PUNE,MAHARASHTRA,412207
21,,VADODARA,GUJARAT,391440,,VADODARA,GUJARAT,391440
22,ROAD MULUND RAILWAY STATION,MUMBAI,MAHARASHTRA,400080,ROAD MULUND RAILWAY STATION,MUMBAI,MAHARASHTRA,400080
23,,MUMBAI,MAHARASHTRA,400052,,HARRISON,CALIFORNIA,07029-1302
24,HOSPITAL PALGHAR BOISAR RD DT THANE,PALGHAR,MAHARASHTRA,401404,HOSPITAL PALGHAR BOISAR RD DT THANE,PALGHAR,MAHARASHTRA,401404
25,,ELBERTON,GEORGIA,30635,,ELBERTON,GEORGIA,30635
26,WADALA,MUMBAI,MAHARASHTRA,400031,392076659,DUBAI,DUBAI,341358
27,SAI SERVICE CENTER BORIVALI EAST,MUMBAI,MAHARASHTRA,400066,,SADAR,UTTAR PRADESH,222001
28,ORBIT TERRACES SENAPATI BAPAT ROAD,OPPS KAMALA MILLS MUMBAI,MAHARASHTRA,400013,VIKAS PURI NEW DELHI WEST DELHI,NEW DELHI,DELHI,110018
29,AMBEDKAR MARG CRAWFORD MARKET,FORT MUMBAI,MAHARASHTRA,400001,AMBEDKAR MARG CRAWFORD MARKET,FORT MUMBAI,MAHARASHTRA,400001
30,,VASAI PALGHAR,MAHARASHTRA,401201,,VASAI PALGHAR,MAHARASHTRA,401201
...,...,...,...,...,...,...,...,...
71,,SURREY,MIDDLESEX,TW16 7DU,,VAPI,GUJARAT,396191
72,RAIGARH,RAIGARH,MAHARASHTRA,402112,RAIGARH,RAIGARH,MAHARASHTRA,402112
73,,CHITTORGARH,RAJASTHAN,312001,,CHITTORGARH,RAJASTHAN,312001
74,MAHAKALI CAVES ROAD ANDHERI EAST,MUMBAI,MAHARASHTRA,400093,MAHAKALI CAVES ROAD ANDHERI EAST,MUMBAI,MAHARASHTRA,400093
75,CHAND,CHHINDWARA,MADHYA PRADESH,480110,KHAMRA,CHHINDWARA,MADHYA PRADESH,480111
76,COLONY GALIRA ROAD,SAHARANPUR,UTTAR PRADESH,247001,COLONY GALIRA ROAD,SAHARANPUR,UTTAR PRADESH,247001
77,SADASHIV NAGAR,BELGAUM,KARNATAKA,590010,SADASHIV NAGAR,BELGAUM,KARNATAKA,590010
78,NEHRU NAGAR,BELGAUM,KARNATAKA,590010,NEHRU NAGAR,BELGAUM,KARNATAKA,590010
79,,NEW DELHI,DELHI,110019,,NEW DELHI,DELHI,110019
80,,PUNE,MAHARASHTRA,411046,,PUNE,MAHARASHTRA,411046
81,GIGA SPACE VIMANNAGAR DUKIRKLINE,PUNE,MAHARASHTRA,411014,GIGA SPACE VIMANNAGAR DUKIRKLINE,PUNE,MAHARASHTRA,411014
82,,PIPARIYA HOSHANGABAD,MADHYA PRADESH,461775,,PIPARIYA HOSHANGABAD,MADHYA PRADESH,461775
83,,DEWAS,MADHYA PRADESH,455001,,DEWAS,MADHYA PRADESH,455001
84,KOIL,MANALURPET,TAMIL NADU,605754,,RIYADH,RIYADH,11492
85,,HOSHIARPUR,PUNJAB,146001,,HOSHIARPUR,PUNJAB,146001
86,HOSHIARPUR,HOSHIARPUR,PUNJAB,146001,HOSHIARPUR,HOSHIARPUR,PUNJAB,146001
87,VIKROLI E,MUMBAI,MAHARASHTRA,400083,VIKROLI E,MUMBAI,MAHARASHTRA,400083
88,COMPLEX GRID ROAD KABILPORE NAVSARI,NAVSARI,GUJARAT,396424,AYODHYA NAGAR VIJALPORE ROAD,NAVSARI,GUJARAT,396450
89,,DELHI,DELHI,110034,,SAFAT,KUWAIT,13031
90,,PUNE,MAHARASHTRA,411028,,PUNE,MAHARASHTRA,411028
91,,DASUYA,PUNJAB,144214,,DOHA QATAR,DOHA QATAR,122001
92,,UDHAMPUR,JAMMU AND KASHMIR,905171,,UDHAMPUR,JAMMU AND KASHMIR,182126
93,,CALIFORNIA,CALIFORNIA,94040,,CALIFORNIA,CALIFORNIA,94040
94,,ARLINGTON,VIRGINIA,22204,,NEW DELHI,DELHI,110088
95,,AJNALA,PUNJAB,143102,,AJNALA,PUNJAB,143102
96,,AL KHOBAR,SAUDI ARABIA,31952,,MUZAFFAR NAGAR,UTTAR PRADESH,251311
97,,KATRA,JAMMU AND KASHMIR,182301,,PANTGAON,UTTARAKHAND,263680
98,ROAD KESHWANA JAIPUR,BEHROR,RAJASTHAN,301701,,VARANASI,UTTAR PRADESH,221005
99,,AL KHARJ,RIYADH,11942,,NEW DELHI,NEW DELHI,110059
100,,JALANDHAR,PUNJAB,144629,,SHARJAH,SHARJAH,36914

**Using the Unique 'cust_id_token' as the index for the dataframe**

In [0]:
df2.index.names = ['cust_id_token']

**Data Pre - Processed and is now ready for the algorithms to generate heatmaps**

In [0]:
df2.head()

,current_address3,current_city,current_state,current_pin_code,permanent_address3,permanent_city,permanent_state,permanent_pin_code
cust_id_token,,,,,,,,
1,,JAMBI,INDONESIA,36126,,CHENNAI,TAMIL NADU,600029
2,INJAMBAKKAM,CHENNAI,TAMIL NADU,600115,,LONDON,MIDDLE SEX,HA047H
3,ROODEPOORT,JOHANNESBURG,GAUTENG,2169,MANDIR RMC GARDEN,PUNE,MAHARASHTRA,412207
4,,DUBAI,DUBAI,18582,,BARODA,GUJARAT,390007
5,,SIRSA,HARYANA,125055,,SIRSA,HARYANA,125055

In [0]:
df2.isnull().sum()

current_address3      0
current_city          0
current_state         0
current_pin_code      0
permanent_address3    0
permanent_city        0
permanent_state       0
permanent_pin_code    0
dtype: int64

In [0]:
for index, row in df2.iterrows():
    if 'INDONESIA' in row:
      print(row)

**Replacing the blank 'current_address3' entries with N/A **

**Plan is to deal with this later, perhaps will be needed if more granularity of the heatmaps is required.**
**For the time being these empty values have been replaced by N/A, since the objective is to plot a heatmap of the customers based on their cities**

In [11]:
df2.replace('', 'N/A')

,current_address3,current_city,current_state,current_pin_code,permanent_address3,permanent_city,permanent_state,permanent_pin_code
cust_id_token,,,,,,,,
1,N/A,JAMBI,INDONESIA,36126,N/A,CHENNAI,TAMIL NADU,600029
2,INJAMBAKKAM,CHENNAI,TAMIL NADU,600115,N/A,LONDON,MIDDLE SEX,HA047H
3,ROODEPOORT,JOHANNESBURG,GAUTENG,2169,MANDIR RMC GARDEN,PUNE,MAHARASHTRA,412207
4,N/A,DUBAI,DUBAI,18582,N/A,BARODA,GUJARAT,390007
5,N/A,SIRSA,HARYANA,125055,N/A,SIRSA,HARYANA,125055
6,TARDEO CIRCLE PT,MUMBAI,MAHARASHTRA,400034,TARDEO CIRCLE PT,MUMBAI,MAHARASHTRA,400034
7,PRADESH,ITANAGAR,ARUNACHAL PRADESH,791111,PO PALIN,ITANAGAR,ARUNACHAL PRADESH,791118
8,N/A,LUCKNOW,UTTAR PRADESH,226003,N/A,SAUDI ARABIA,SAUDI ARABIA,11933
9,N/A,NORTH PARRAMATTA,NEW SOUTH WALES,2151,N/A,GHAZIABAD,UTTAR PRADESH,201013
10,NEAR CENTURY MALL,FUJAIRAH,FUJAIRA EMIRATES,50037,N/A,KOLKATA,WEST BENGAL,700054
11,NEAR BRIDGE STONE COMPANY,PUNE,MAHARASHTRA,410501,N/A,SONBHADRA,UTTAR PRADESH,231210
12,N/A,AMBERNATH,MAHARASHTRA,421501,N/A,AMBERNATH,MAHARASHTRA,421501
13,N/A,GURGAON,HARYANA,122002,NEAR GOVT SCHOOL,DAUSA,RAJASTHAN,322240
14,BANDRA E NR COLGATE GROUND,MUMBAI,MAHARASHTRA,400051,BANDRA E NR COLGATE GROUND,MUMBAI,MAHARASHTRA,400051
15,N/A,BEIJING,BEIJING,0,NEAR GCC CLUB MIRA ROAD EAST,THANE,MAHARASHTRA,401107
16,N/A,LUDHIANA,PUNJAB,141003,N/A,DUBAI,DUBAI,N/A
17,PHASE 3 KALIKA VIHAR CHIRACHAS,BOKARO,JHARKHAND,827013,PHASE 3 KALIKA VIHAR CHIRACHAS,BOKARO,JHARKHAND,827013
18,DISTRICT PAPUMPARE,ITANAGAR,ARUNACHAL PRADESH,100274,DISTRICT PAPUMPARE,ITANAGAR,ARUNACHAL PRADESH,100274
19,NEAR MOTHER TERESA OLD HOME,TINSUKIA,ASSAM,786126,NEAR MOTHER TERESA OLD HOME,TINSUKIA,ASSAM,786126
20,N/A,EPPING,VICTORIA,3076,N/A,PUNE,MAHARASHTRA,412207
21,N/A,VADODARA,GUJARAT,391440,N/A,VADODARA,GUJARAT,391440
22,ROAD MULUND RAILWAY STATION,MUMBAI,MAHARASHTRA,400080,ROAD MULUND RAILWAY STATION,MUMBAI,MAHARASHTRA,400080
23,N/A,MUMBAI,MAHARASHTRA,400052,N/A,HARRISON,CALIFORNIA,07029-1302
24,HOSPITAL PALGHAR BOISAR RD DT THANE,PALGHAR,MAHARASHTRA,401404,HOSPITAL PALGHAR BOISAR RD DT THANE,PALGHAR,MAHARASHTRA,401404
25,N/A,ELBERTON,GEORGIA,30635,N/A,ELBERTON,GEORGIA,30635
26,WADALA,MUMBAI,MAHARASHTRA,400031,392076659,DUBAI,DUBAI,341358
27,SAI SERVICE CENTER BORIVALI EAST,MUMBAI,MAHARASHTRA,400066,N/A,SADAR,UTTAR PRADESH,222001
28,ORBIT TERRACES SENAPATI BAPAT ROAD,OPPS KAMALA MILLS MUMBAI,MAHARASHTRA,400013,VIKAS PURI NEW DELHI WEST DELHI,NEW DELHI,DELHI,110018
29,AMBEDKAR MARG CRAWFORD MARKET,FORT MUMBAI,MAHARASHTRA,400001,AMBEDKAR MARG CRAWFORD MARKET,FORT MUMBAI,MAHARASHTRA,400001
30,N/A,VASAI PALGHAR,MAHARASHTRA,401201,N/A,VASAI PALGHAR,MAHARASHTRA,401201
...,...,...,...,...,...,...,...,...
71,N/A,SURREY,MIDDLESEX,TW16 7DU,N/A,VAPI,GUJARAT,396191
72,RAIGARH,RAIGARH,MAHARASHTRA,402112,RAIGARH,RAIGARH,MAHARASHTRA,402112
73,N/A,CHITTORGARH,RAJASTHAN,312001,N/A,CHITTORGARH,RAJASTHAN,312001
74,MAHAKALI CAVES ROAD ANDHERI EAST,MUMBAI,MAHARASHTRA,400093,MAHAKALI CAVES ROAD ANDHERI EAST,MUMBAI,MAHARASHTRA,400093
75,CHAND,CHHINDWARA,MADHYA PRADESH,480110,KHAMRA,CHHINDWARA,MADHYA PRADESH,480111
76,COLONY GALIRA ROAD,SAHARANPUR,UTTAR PRADESH,247001,COLONY GALIRA ROAD,SAHARANPUR,UTTAR PRADESH,247001
77,SADASHIV NAGAR,BELGAUM,KARNATAKA,590010,SADASHIV NAGAR,BELGAUM,KARNATAKA,590010
78,NEHRU NAGAR,BELGAUM,KARNATAKA,590010,NEHRU NAGAR,BELGAUM,KARNATAKA,590010
79,N/A,NEW DELHI,DELHI,110019,N/A,NEW DELHI,DELHI,110019
80,N/A,PUNE,MAHARASHTRA,411046,N/A,PUNE,MAHARASHTRA,411046
81,GIGA SPACE VIMANNAGAR DUKIRKLINE,PUNE,MAHARASHTRA,411014,GIGA SPACE VIMANNAGAR DUKIRKLINE,PUNE,MAHARASHTRA,411014
82,N/A,PIPARIYA HOSHANGABAD,MADHYA PRADESH,461775,N/A,PIPARIYA HOSHANGABAD,MADHYA PRADESH,461775
83,N/A,DEWAS,MADHYA PRADESH,455001,N/A,DEWAS,MADHYA PRADESH,455001
84,KOIL,MANALURPET,TAMIL NADU,605754,N/A,RIYADH,RIYADH,11492
85,N/A,HOSHIARPUR,PUNJAB,146001,N/A,HOSHIARPUR,PUNJAB,146001
86,HOSHIARPUR,HOSHIARPUR,PUNJAB,146001,HOSHIARPUR,HOSHIARPUR,PUNJAB,146001
87,VIKROLI E,MUMBAI,MAHARASHTRA,400083,VIKROLI E,MUMBAI,MAHARASHTRA,400083
88,COMPLEX GRID ROAD KABILPORE NAVSARI,NAVSARI,GUJARAT,396424,AYODHYA NAGAR VIJALPORE ROAD,NAVSARI,GUJARAT,396450
89,N/A,DELHI,DELHI,110034,N/A,SAFAT,KUWAIT,13031
90,N/A,PUNE,MAHARASHTRA,411028,N/A,PUNE,MAHARASHTRA,411028
91,N/A,DASUYA,PUNJAB,144214,N/A,DOHA QATAR,DOHA QATAR,122001
92,N/A,UDHAMPUR,JAMMU AND KASHMIR,905171,N/A,UDHAMPUR,JAMMU AND KASHMIR,182126
93,N/A,CALIFORNIA,CALIFORNIA,94040,N/A,CALIFORNIA,CALIFORNIA,94040
94,N/A,ARLINGTON,VIRGINIA,22204,N/A,NEW DELHI,DELHI,110088
95,N/A,AJNALA,PUNJAB,143102,N/A,AJNALA,PUNJAB,143102
96,N/A,AL KHOBAR,SAUDI ARABIA,31952,N/A,MUZAFFAR NAGAR,UTTAR PRADESH,251311
97,N/A,KATRA,JAMMU AND KASHMIR,182301,N/A,PANTGAON,UTTARAKHAND,263680
98,ROAD KESHWANA JAIPUR,BEHROR,RAJASTHAN,301701,N/A,VARANASI,UTTAR PRADESH,221005
99,N/A,AL KHARJ,RIYADH,11942,N/A,NEW DELHI,NEW DELHI,110059
100,N/A,JALANDHAR,PUNJAB,144629,N/A,SHARJAH,SHARJAH,36914

### The Below section covers the geo-location aspect of the problem statement.

**Firstly, we install the gmaps module, which is a python package for google maps**

In [107]:
!pip install gmaps

Collecting gmaps
  Downloading https://files.pythonhosted.org/packages/a8/af/2cd43989e83a9343f4e840ee85884c7befd5eed7835b589cffe92b43fa00/gmaps-0.8.4.tar.gz (1.1MB)
    100% |████████████████████████████████| 1.1MB 17.9MB/s
Requirement already satisfied: ipython>=5.3.0 in /usr/local/lib/python3.6/dist-packages (from gmaps) (5.5.0)
Requirement already satisfied: ipywidgets>=7.0.0 in /usr/local/lib/python3.6/dist-packages (from gmaps) (7.4.2)
Requirement already satisfied: traitlets>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from gmaps) (4.3.2)
Collecting geojson>=2.0.0 (from gmaps)
  Downloading https://files.pythonhosted.org/packages/f1/34/bc3a65faabce27a7faa755ab08d811207a4fc438f77ef09c229fc022d778/geojson-2.4.1-py2.py3-none-any.whl
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from gmaps) (1.11.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from ipython>=5.3.0->gmaps) (4.3.2)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from ipython>=5.3.0->gmaps) (4.6.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from ipython>=5.3.0->gmaps) (2.1.3)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from ipython>=5.3.0->gmaps) (1.0.15)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.6/dist-packages (from ipython>=5.3.0->gmaps) (40.7.1)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from ipython>=5.3.0->gmaps) (0.8.1)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.6/dist-packages (from ipywidgets>=7.0.0->gmaps) (4.4.0)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.6/dist-packages (from ipywidgets>=7.0.0->gmaps) (4.6.1)
Requirement already satisfied: widgetsnbextension~=3.4.0 in /usr/local/lib/python3.6/dist-packages (from ipywidgets>=7.0.0->gmaps) (3.4.2)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.3.0->gmaps) (0.2.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.6/dist-packages (from pexpect; sys_platform != "win32"->ipython>=5.3.0->gmaps) (0.6.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=5.3.0->gmaps) (0.1.7)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (2.6.0)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (4.4.0)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.6/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (5.2.4)
Requirement already satisfied: tornado>=4.0 in /usr/local/lib/python3.6/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (4.5.3)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.6/dist-packages (from widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->gmaps) (5.2.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.5.3)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.6/dist-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (17.0.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.6/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->gmaps) (2.10)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.6/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->gmaps) (5.4.0)
Requirement already satisfied: terminado>=0.3.3; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->gmaps) (0.8.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->gmaps) (1.1.0)
Requirement already satisfied: bleach in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->gmaps) (3.1.0)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->gmaps) (0.3)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->gmaps) (0.5.0)
Requirement already satisfied: mistune>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: testpath in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->gmaps) (0.4.2)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->gmaps) (1.4.2)
Requirement already satisfied: webencodings in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->gmaps) (0.5.1)
Building wheels for collected packages: gmaps
  Building wheel for gmaps (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/e0/20/aa/9c70c702468ffdda78295bff3bdddcd94fa1aa54d1a86787ee
Successfully built gmaps
Installing collected packages: geojson, gmaps
Successfully installed geojson-2.4.1 gmaps-0.8.4

**Import the geocoder**

In [0]:
from geopy.geocoders import Nominatim

**The below is the working sample of geo-coding in action**


**A sample location of Dwarahat is taken, the locations and lat/long are printed as the output of the geocoding**

In [137]:
geolocator = Nominatim(user_agent="YB- Datathon")
location = geolocator.geocode("Dwarahat")
print(location.address)

Dwārāhāt, Almora, Uttarakhand, India

In [138]:
print((location.latitude, location.longitude))

(29.7757, 79.43115)

In [0]:
geolocator = Nominatim(user_agent="Mallya- App")

In [61]:
for name, values in df2.iteritems():
    if name=='current_city':
      print(values.values)

['JAMBI' 'CHENNAI' 'JOHANNESBURG' 'DUBAI' 'SIRSA' 'MUMBAI' 'ITANAGAR'
 'LUCKNOW' 'NORTH PARRAMATTA' 'FUJAIRAH' 'PUNE' 'AMBERNATH' 'GURGAON'
 'MUMBAI' 'BEIJING' 'LUDHIANA' 'BOKARO' 'ITANAGAR' 'TINSUKIA' 'EPPING'
 'VADODARA' 'MUMBAI' 'MUMBAI' 'PALGHAR' 'ELBERTON' 'MUMBAI' 'MUMBAI'
 'OPPS KAMALA MILLS MUMBAI' 'FORT MUMBAI' 'VASAI PALGHAR' 'HYDERABAD'
 'CHENNAI' 'CORPUS CHRISTI' 'KOCHI' 'ANDHRA PRADESH' 'JAMNAGAR' 'JAMNAGAR'
 'MANALI' 'BARDOLI' 'AHMEDABAD' 'NAVSARI' 'BAWAL' 'NEW DELHI' 'KOLKATA'
 'BERLIN' 'KOLKATA' 'GURGOAN' 'JASPUR' 'AGRA' 'BIJNOR' 'NEW DELHI'
 'GURGAON' 'KOTPUTLI' 'KOTPUTLI' 'HOSHIARPUR' 'KUWAIT' 'BARNALA'
 'MUENSTER' 'NEW DELHI' 'MATHURA' 'CINCINNATI' 'AJNALA' 'AMRITSAR'
 'SYDNEY' 'JODHPUR' 'NEW DELHI' 'MUMBAI' 'MUMBAI' 'PATHANAMTHITTA'
 'AHMEDABAD' 'SURREY' 'RAIGARH' 'CHITTORGARH' 'MUMBAI' 'CHHINDWARA'
 'SAHARANPUR' 'BELGAUM' 'BELGAUM' 'NEW DELHI' 'PUNE' 'PUNE'
 'PIPARIYA HOSHANGABAD' 'DEWAS' 'MANALURPET' 'HOSHIARPUR' 'HOSHIARPUR'
 'MUMBAI' 'NAVSARI' 'DELHI' 'PUNE' 'DASUYA' 'UDHAMPUR' 'CALIFORNIA'
 'ARLINGTON' 'AJNALA' 'AL KHOBAR' 'KATRA' 'BEHROR' 'AL KHARJ' 'JALANDHAR']

## Geocoding the dataframe

Here we iterate over the rows of the dataframe and geocode each city, obtain it's latitude and longitude and create new columns to store them

In [71]:
for index, row in df2.iterrows():
    c=row["current_city"]
    geolocator = Nominatim(user_agent="specify_your_app_name_here")
    location = geolocator.geocode(c)
    #print(location.latitude)
    #x.loc[index,'State']=results[0]['admin1']
    if location:
      df2.loc[index,'latitude']=location.latitude
      df2.loc[index, 'longitude'] = location.longitude
    else:
      print(c)
      df2.loc[index,'latitude']=0
      df2.loc[index,'longitude']=0

OPPS KAMALA MILLS MUMBAI
GURGOAN
MANALURPET

**The code is written in such a way that, if the geocoder fails to identify a location of the city as a valid location, it get's printed out**

**As seen from the above cell of code: **


1.   **OPPS KAMALA MILLS MUMBAI**
2.   **GURGOAN**
3.   **MANALURPET**

were failed to be geocoded, therefore, they have been manually changed to their nearest recognizable city, or in some cases, their names have been changed according to the names on Google Maps.

***Ex - MANALURPET has been changed to  MANALURPETTAI***

In [0]:
df2=df2.replace({'OPPS KAMALA MILLS MUMBAI': 'MUMBAI', 'GURGOAN': 'GURGAON','MANALURPET':'MANALURPETTAI'})

**Below code segment to create new columns 'current_latitude' and 'current_longitude' for the current_city**

In [0]:
for index, row in df2.iterrows():
    c=row["current_city"]
    #d=row["permanent_city"]
    geolocator = Nominatim(user_agent="specify_your_app_name_here")
    location = geolocator.geocode(c)
   # location1= geolocator.geocode(d)
    #print(location.latitude)
    #x.loc[index,'State']=results[0]['admin1']
    if location:
      df2.loc[index,'current_latitude']=location.latitude
      df2.loc[index, 'current_longitude'] = location.longitude
    else:
      print(c)
      df2.loc[index,'current_latitude']=0
      df2.loc[index,'current_longitude']=0

In [78]:
df2.head()

,current_address3,current_city,current_state,current_pin_code,permanent_address3,permanent_city,permanent_state,permanent_pin_code,latitude,longitude
cust_id_token,,,,,,,,,,
1,,JAMBI,INDONESIA,36126,,CHENNAI,TAMIL NADU,600029,-1.611572,102.779699
2,INJAMBAKKAM,CHENNAI,TAMIL NADU,600115,,LONDON,MIDDLE SEX,HA047H,13.080172,80.283833
3,ROODEPOORT,JOHANNESBURG,GAUTENG,2169,MANDIR RMC GARDEN,PUNE,MAHARASHTRA,412207,-26.205000,28.049722
4,,DUBAI,DUBAI,18582,,BARODA,GUJARAT,390007,25.075010,55.188761
5,,SIRSA,HARYANA,125055,,SIRSA,HARYANA,125055,29.583333,75.083333

**Now doing the same operation for Permanent City **
**With this we have new features, 'permanent_latitude' and 'permanent_longitude'**

In [87]:
for index, row in df2.iterrows():
    c=row["permanent_city"]
    d=row["permanent_state"]
    geolocator = Nominatim(user_agent="specify_your_app_name_here")
    location = geolocator.geocode(c)
   # location1= geolocator.geocode(d)
    #print(location.latitude)
    #x.loc[index,'State']=results[0]['admin1']
    if location:
      df2.loc[index,'permanent_latitude']=location.latitude
      df2.loc[index, 'permanent_longitude'] = location.longitude
    else:
      print(c , d)

      df2.loc[index,'current_latitude']=0
      df2.loc[index,'current_longitude']=0

HARRISON CALIFORNIA
FORTMCMURRAY MCMURRAY
PANTGAON UTTARAKHAND

**Similar to the above segment, the locations which couldn't be geocoded have been shown in the output of the above cell. which are : **



1.   HARRISON CALIFORNIA
2.   FORTMCMURRAY MCMURRAY
3.   PANTGAON UTTARAKHAND

In [0]:
df2=df2.replace({'HARRISON' : 'HARRISON RANCH', 'FORTMCMURRAY':'FORT MCMURRAY',  'PANTGAON':'DWARAHAT'})

**These locations have been replaced with **


1.  HARRISON RANCH
2.  FORT MCMURRAY
3.  DWARAHAT

In [0]:
for index, row in df2.iterrows():
    c=row["permanent_city"]
    d=row["permanent_state"]
    geolocator = Nominatim(user_agent="specify_your_app_name_here")
    location = geolocator.geocode(c)
   # location1= geolocator.geocode(d)
    #print(location.latitude)
    #x.loc[index,'State']=results[0]['admin1']
    if location:
      df2.loc[index,'permanent_latitude']=location.latitude
      df2.loc[index, 'permanent_longitude'] = location.longitude
    else:
      print(c , d)

      df2.loc[index,'current_latitude']=0
      df2.loc[index,'current_longitude']=0

**Making sure that all cities have been geocoded**

Sample output of the data that is now having new columns for lat and long of current and permanent address

In [100]:
df2.head()

,current_address3,current_city,current_state,current_pin_code,permanent_address3,permanent_city,permanent_state,permanent_pin_code,latitude,longitude,current_latitude,current_longitude,permanent_latitude,permanent_longitude
cust_id_token,,,,,,,,,,,,,,
1,,JAMBI,INDONESIA,36126,,CHENNAI,TAMIL NADU,600029,-1.611572,102.779699,-1.611572,102.779699,13.080172,80.283833
2,INJAMBAKKAM,CHENNAI,TAMIL NADU,600115,,LONDON,MIDDLE SEX,HA047H,13.080172,80.283833,13.080172,80.283833,51.507322,-0.127647
3,ROODEPOORT,JOHANNESBURG,GAUTENG,2169,MANDIR RMC GARDEN,PUNE,MAHARASHTRA,412207,-26.205000,28.049722,-26.205000,28.049722,18.520306,73.854319
4,,DUBAI,DUBAI,18582,,BARODA,GUJARAT,390007,25.075010,55.188761,25.075010,55.188761,41.957025,-86.484348
5,,SIRSA,HARYANA,125055,,SIRSA,HARYANA,125055,29.583333,75.083333,29.583333,75.083333,29.583333,75.083333

In [0]:
df2=df2.drop(['latitude','longitude'],axis=1)

In [105]:
df2.head()

,current_address3,current_city,current_state,current_pin_code,permanent_address3,permanent_city,permanent_state,permanent_pin_code,current_latitude,current_longitude,permanent_latitude,permanent_longitude
cust_id_token,,,,,,,,,,,,
1,,JAMBI,INDONESIA,36126,,CHENNAI,TAMIL NADU,600029,-1.611572,102.779699,13.080172,80.283833
2,INJAMBAKKAM,CHENNAI,TAMIL NADU,600115,,LONDON,MIDDLE SEX,HA047H,13.080172,80.283833,51.507322,-0.127647
3,ROODEPOORT,JOHANNESBURG,GAUTENG,2169,MANDIR RMC GARDEN,PUNE,MAHARASHTRA,412207,-26.205000,28.049722,18.520306,73.854319
4,,DUBAI,DUBAI,18582,,BARODA,GUJARAT,390007,25.075010,55.188761,41.957025,-86.484348
5,,SIRSA,HARYANA,125055,,SIRSA,HARYANA,125055,29.583333,75.083333,29.583333,75.083333

In [0]:
df2.to_csv('final_data.csv',sep=',')